/* ***GENERAL*** */
.dropdown {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

/* ****RESOURCES DROPDOWN**** */

.dropdown-content {
    display: none;
    width: 600px;
    height: 450px;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.novelty::after {
    content: "NEW";
    font-size: 10px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 5px;
    border: 1px solid green;
    padding: 5px 5px;
    background-color: green;
    border-radius: 3px;
    color: white;
    font-weight: 800;
}

.menu .dropdown {
    margin-right: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    list-style: none;
}

.software-row {
    width: 100%;
    float: left;
}

.software-row:last-of-type {
    padding-left: 5%;
    margin-bottom: 5%;
}

.software-row img {
    float: left;
    margin: 15px;
}

.row-text {
    float: left;
    text-align: middle;
}

.row-text p {
    font-size: 12px;
    line-height: 20px;
}

.row-text h4 {
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    margin-top: 15px;
}

hr {
    width: 90%;
    background-color: black;
    margin: auto;
}

.software-row:hover {
    text-decoration: underline;
    background-color: blanchedalmond;
}
/* ***********RESOURCES DROPDOWN **************** */

.resources-dropdown {
    display: none;
    width: 1000px;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
    position: absolute;
    top: 50px;
    right: -200px;
    z-index: 1;
}
.dropdown:hover .resources-dropdown {
    display: block;
}
.resources-row {
    width: 90%;
    position: relative;
    left: 5%;
    right: 5%;
    float: left;
}
.resources-card {
    text-align: left;
    height: 120px;
    width: calc(100%/3);
    background-color: white;
    border-bottom: 1px solid black;
    float: left;
}

.resources-row:nth-of-type(3) .resources-card {
    border-bottom: none;
}

.resources-card h4 {
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-left: 30px;
    padding-top: 20px;
}
.resources-card p {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 50px;
    width: 80%;
}

/* ***PARTNERS DROPDOWN*** */
/* ***********RESOURCES DROPDOWN **************** */

.partners-dropdown {
    display: none;
    width: 600px;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
}
.dropdown:hover .partners-dropdown {
    display: block;
}
.partners-row {
    width: 90%;
    position: relative;
    left: 5%;
    right: 5%;
    float: left;
}
.partners-card {
    text-align: left;
    height: 120px;
    width: 50%;
    background-color: white;
    float: left;
}

.partners-card h4 {
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-left: 30px;
    padding-top: 20px;
}
.partners-card p {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 50px;
}


/* ***BUBBLE CHAT*** */

.chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
    background-image: url(../img/launcher-open-icon.svg);
    background-color: #32495B;
    box-shadow: 0 0 25px 1px black;
}

.chat-box {
    display: none;
    position: fixed;
    bottom: 85px;
    right: 20px;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.chat-avatar {
    position: fixed;
    width: 50px;
    right: 96px;
    bottom: 160px;
}

.fa-times-circle {
    position: fixed;
    right: 30px;
    bottom: 160px;
}

.chat:hover .chat-box {
    display: block;
}

.chat-box p {
    display: inline-block;
    padding: 30px 10px;
    font-size: 12px;
    margin: auto;
    text-align: left;
}

/* ***LANGUAGE DROPDOWN*** */

.language-dropdown {
    display: none;
    width: 100px;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 5px 1px black;
    position: absolute;
    top: 50px;
    left: 5px
}

.dropdown:hover .language-dropdown {
    display: block;
}

.language-dropdown ul li {
    color: #32495B;
    list-style: none;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 15px;
    line-height: 35px;
}
.language-dropdown ul li:hover {
    color: white;
    background-color: #32495B;
}

/* ***ABOUT DROPDOWN*** */

.about-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 550px;
    background-color: white;
    color: #32495B;
    border: 1px solid black;
    box-shadow: 0 0 5px 1px black;
    z-index: 1;
}

.dropdown:hover .about-dropdown {
    display: block;
}

.about-column {
    width: calc(100%/3);
    float: left;
    height: 350px;
}

.about-column ul {
    padding-top: 30px;
}


.about-column ul li {
    text-align: left;
    padding-left: 50px;
    list-style: none;
    line-height: 50px;
    font-size: 13px;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.about-column ul li:hover, .title:hover {
    background-color: #32495B;
    color: white;
}