/* global rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

form {
    display: inline-block;
}
select, a {
    font-size: 12px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    height: auto;
    margin: auto;
}

.language a {
    color: #33475B;
}

.top-nav a {
    text-decoration: none;
}

.outline-red, .solid-red {
    border: 1px solid #FE775A;
    background-color: white;
    color: #FE775A;
    border-radius: 5px;
    margin-left: 15px;
    padding: 5px 10px;
    transition: 0.3s;
}
.outline-red:hover, .solid-red:hover {
    border: 1px solid white;
    background-color: #FE775A;
    color: white;
}

.padding-left {
    padding-left: 15px;
}
.padding-right {
    padding-right: 15px;
}
.background-black {
    background-color: #33475B;
    border-radius: 50%;
}

.bg-sky {
    background-color: #F4F9FD;
}
.bg-white {
    background-color: white;
}

/*** HEADER ***/
.top-nav, .bot-nav {
    width: 80%;
    height: 80px;
    margin: auto;
}
.language {
    width: 50%;
    text-align: left;
    line-height: 80px;
    float: left;
}
.language form {
    display: inline-block;
}

.vertical-divider {
    display: inline-block;
    background-color: #33475B;
    line-height: 80px;
    vertical-align: middle;
    width: 1px;
    height: 15px;
}

select {
    background-color: #F4F9FD;
    border-style: none;
}

.login {
    width: 50%;
    text-align: right;
    line-height: 80px;
    float: left;
}

.login img, .language img{
    line-height: 80px;
    vertical-align: middle;
    height: 15px;
    width: 15px;
}

/* bot navbar */

.logo img {
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
}

.bot-nav {
    height: 80px;
    line-height: 80px;
}
.logo {
    width: 50%;
    float: left;
}
.menu {
    width: 50%;
    float: left;
    text-align: right;
}
.menu select{
    background-color:white;
    color: #33475B;
    margin-left: 10px;
    border-style: none;
    border-radius: 5px;
    text-decoration: none;
}
.menu select:hover, menu a:hover {
    cursor: pointer;
}

.menu a {
    margin-left: 15px;
    padding: 5px 10px;
    text-decoration: none;
    color: #33475B;
}